@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');



.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
h1 {
    font-family: "Source Code Pro", monospace;
     font-optical-sizing: auto;
     font-weight: 100;
     font-style: normal;
     color: rgb(255, 73, 73);
     text-decoration: none;
     text-transform: lowercase;

     margin-left: 21%;
 
 
}
h2 {
    font-family: "Source Code Pro", monospace;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     color: rgb(0, 0, 0);
     text-decoration: none;
     text-transform: uppercase;

     margin-left: 10%;
}
h3 {
    font-family: "Source Code Pro", monospace;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     color: rgb(30, 30, 30);
     text-decoration: none;

     margin-left: 14%;
}
h4 {
    font-family: "Source Code Pro", monospace;
     font-optical-sizing: auto;
     font-weight: 300;
     font-style: normal;
     color: rgb(60, 60, 60);
     text-decoration: none;

     margin-left: 10%;

}h5 {
    font-family: "Source Code Pro", monospace;
     font-optical-sizing: auto;
     font-weight: 200;
     font-style: normal;
     color: rgb(80, 80, 80);
     text-decoration: none;

     margin-left: 14%;
}
