---
---


<div class="nav">
    <a href = "/">Season</a>
    <a href = "/session/">session</a>
    <a href = "/">Season</a>
    <a href = "/catchusoutside/">catchusoutside</a>
    <a href = "/">Season</a>
</div>

<style>
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.nav {
     
    
    display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     justify-content: flex-start;
     align-items: flex-end;
     align-content: center;

     
     line-height: 1.4em;
     margin-right: 7%; 
     margin-top: 2%;
     
     
     font-family: "Source Code Pro", monospace;
     font-optical-sizing: auto;
     font-weight: 200;
     font-style: normal;
     color: greenyellow;
     text-decoration: none;


     
    
}



</style>